(MSG_USE_E_BASE+1-1), "Usage:   wasm [options] asm_file [options] [@env_var]"
(MSG_USE_E_BASE+2-1), "Options:                    ( /option is also supported )"
(MSG_USE_E_BASE+3-1), "-{0,1,2,3,4,5,6}{p}{r,s}"
(MSG_USE_E_BASE+4-1), "    -0          8086 instructions"
(MSG_USE_E_BASE+5-1), "    -1          80186 instructions"
(MSG_USE_E_BASE+6-1), "    -2          80286 instructions"
(MSG_USE_E_BASE+7-1), "    -3          80386 instructions"
(MSG_USE_E_BASE+8-1), "    -4          80486 instructions"
(MSG_USE_E_BASE+9-1), "    -5          pentium instructions"
(MSG_USE_E_BASE+10-1), "    -6          pentium pro instructions"
(MSG_USE_E_BASE+11-1), "    add p       protect mode"
(MSG_USE_E_BASE+12-1), "    add r       register calling conventions"
(MSG_USE_E_BASE+13-1), "    add s       stack calling conventions"
(MSG_USE_E_BASE+14-1), "                ie: /2      /3s     /4pr    /5p"
(MSG_USE_E_BASE+15-1), "-bt=<os>            set the build target to <os>"
(MSG_USE_E_BASE+16-1), "-c                  disable outputting of data in code records"
(MSG_USE_E_BASE+17-1), "-d<name>[=text]     define text macro"
(MSG_USE_E_BASE+18-1), "-d1                 line number debugging support"
(MSG_USE_E_BASE+19-1), "-e                  stop reading ASM file at END directive"
(MSG_USE_E_BASE+20-1), "-e<number>          set error limit number"
(MSG_USE_E_BASE+21-1), "-fr=<file_name>     set error file name"
(MSG_USE_E_BASE+22-1), "-fo=<file_name>     set object file name"
(MSG_USE_E_BASE+23-1), "-fi=<file_name>     force <file_name> to be included"
(MSG_USE_E_BASE+24-1), "-fpc                calls to floating-point library"
(MSG_USE_E_BASE+25-1), "-fpi                inline 80x87 instructions with emulation"
(MSG_USE_E_BASE+26-1), "-fpi87              inline 80x87 instructions"
(MSG_USE_E_BASE+27-1), "-fp0                floating-point for 8087"
(MSG_USE_E_BASE+28-1), "-fp2                floating-point for 287"
(MSG_USE_E_BASE+29-1), "-fp3                floating-point for 387"
(MSG_USE_E_BASE+30-1), "-fp5                floating-point for Pentium"
(MSG_USE_E_BASE+31-1), "-fp6                floating-point for Pentium Pro"
(MSG_USE_E_BASE+32-1), "-i=<directory>      add directory to list of include directories"
(MSG_USE_E_BASE+33-1), "-j or -s            force signed types to be used for signed values"
(MSG_USE_E_BASE+34-1), "-m{t,s,m,c,l,h,f}   memory model:"
(MSG_USE_E_BASE+35-1), "                    (Tiny, Small, Medium, Compact, Large, Huge, Flat)"
(MSG_USE_E_BASE+36-1), "-nd=<name>          set data segment name"
(MSG_USE_E_BASE+37-1), "-nm=<name>          set module name"
(MSG_USE_E_BASE+38-1), "-nt=<name>          set name of text segment"
(MSG_USE_E_BASE+39-1), "-o                  allow C form of octal constants"
(MSG_USE_E_BASE+40-1), "-zq or -q           operate quietly"
(MSG_USE_E_BASE+41-1), "-?                  print this message"
(MSG_USE_E_BASE+42-1), "-w<number>          set warning level number"
(MSG_USE_E_BASE+43-1), "-we                 treat all warnings as errors"
(MSG_USE_E_BASE+44-1), ""
(MSG_USE_E_BASE+45-1), "."
