#include "errcod.h"

stringtable begin

    AR_ARG_CHAR_MISMATCH+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 must be CHARACTER*%u4 or bigger but size passed was %d5"
    AR_COD_MISMATCH+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - actual argument was %s4 but dummy argument was %s5"
    AR_CODI_MISMATCH+MSG_LANG_BASE "argument number %d1 - %s2 was passed to an intrinsic function"
    AR_FUN_EXPECT+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - a subroutine was passed but a function was expected"
    AR_PARM_COUNT+MSG_LANG_BASE "number of arguments expected in call to %s1 was %d2, but found %d3"
    AR_SUB_EXPECT+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - a function was passed but a subroutine was expected"
    AR_TYP_MISMATCH+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - %s4 argument was passed but %s5 argument was expected"
    AR_STRUCT_MISMATCH+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - type of structure passed does not match type of structure exp"
    AR_PASS_BY_MISMATCH+MSG_LANG_BASE "argument number %d1 (%s2) in call to %s3 - argument passed by value but expected by reference"
    CP_TERMINATE+MSG_LANG_BASE "program abnormally terminated"
    CV_OVERLAPING_ASSGT+MSG_LANG_BASE "left and right hand sides overlap in a character assignment statement"
    DA_NOT_ENOUGH+MSG_LANG_BASE "not enough constants for list of variables"
    DA_TOO_MUCH+MSG_LANG_BASE "too many constants for list of variables"
    DA_TYPE_MISMATCH+MSG_LANG_BASE "cannot initialize %s1 variable with %s2 constant"
    DA_DATA_TWICE+MSG_LANG_BASE "entity can only be initialized once during data initialization"
    DM_RANGE_ERR_ON_DIMN+MSG_LANG_BASE "array or array element (possibly substrung) associated with %s1 too small"
    DO_0INC+MSG_LANG_BASE "incrementation parameter for DO-loop cannot be zero"
    EX_Z_2_NOT_POS+MSG_LANG_BASE "zero**J where J <= 0 is not allowed"
    EX_NOT_INT_ARG+MSG_LANG_BASE "X**Y where X < 0.0, Y is not of type INTEGER, is not allowed"
    EX_CZ_2_NOT_REAL+MSG_LANG_BASE "(0,0)**Y where Y is not real is not allowed"
    FM_ASSUME_COMMA+MSG_LANG_BASE "missing delimiter in format string, comma assumed"
    FM_CONST+MSG_LANG_BASE "missing or invalid constant"
    FM_D_EXT+MSG_LANG_BASE "Ew.dDe format code is not FORTRAN 77 standard"
    FM_DECIMAL+MSG_LANG_BASE "missing decimal point"
    FM_DELIM+MSG_LANG_BASE "missing or invalid edit descriptor in format string"
    FM_FMTCHAR+MSG_LANG_BASE "unrecognizable edit descriptor in format string"
    FM_INV_REP+MSG_LANG_BASE "invalid repeat specification"
    FM_M_EXT+MSG_LANG_BASE "$ or \ format code is not FORTRAN 77 standard"
    FM_MODIFIER+MSG_LANG_BASE "invalid field modifier"
    FM_NO_REP+MSG_LANG_BASE "repeat specification not allowed for this format code"
    FM_QUOTE+MSG_LANG_BASE "no closing quote on apostrophe edit descriptor"
    FM_SPEC_256+MSG_LANG_BASE "field count greater than 256 is invalid"
    FM_WIDTH+MSG_LANG_BASE "invalid field width specification"
    FM_Z_EXT+MSG_LANG_BASE "Z format code is not FORTRAN 77 standard"
    FM_TOO_LARGE+MSG_LANG_BASE "FORMAT statement exceeds allotted storage size"
    FM_NOT_INP+MSG_LANG_BASE "format specification not allowed on input"
    FM_REP+MSG_LANG_BASE "FORMAT missing repeatable edit descriptor"
    FM_ASSUME_CONST+MSG_LANG_BASE "missing constant before X edit descriptor, 1 assumed"
    FM_Q_EXT+MSG_LANG_BASE "Ew.dQe format code is not FORTRAN 77 standard"
    FM_Q_FORMAT+MSG_LANG_BASE "Qw.d format code is not FORTRAN 77 standard"
    IO_ABACK+MSG_LANG_BASE "BACKSPACE statement requires sequential access mode"
    IO_ACTIVE_ALREADY+MSG_LANG_BASE "input/output is already active"
    IO_AEND+MSG_LANG_BASE "ENDFILE statement requires sequential access mode"
    IO_AF1+MSG_LANG_BASE "formatted connection requires formatted input/output statements"
    IO_AF2+MSG_LANG_BASE "unformatted connection requires unformatted input/output statements"
    IO_AREW+MSG_LANG_BASE "REWIND statement requires sequential access"
    IO_BAD_CHAR+MSG_LANG_BASE "bad character in input field"
    IO_BLNK_FMT+MSG_LANG_BASE "BLANK specifier requires FORM specifier to be 'FORMATTED'"
    IO_FILE_PROBLEM+MSG_LANG_BASE "system file error - %s1"
    IO_FMT_MISMATCH+MSG_LANG_BASE "format specification does not match data type"
    IO_FREE_MISMATCH+MSG_LANG_BASE "input item does not match the data type of list variable"
    IO_IFULL+MSG_LANG_BASE "internal file is full"
    IO_IRECL+MSG_LANG_BASE "RECL specifier is invalid"
    IO_ISTAT+MSG_LANG_BASE "invalid STATUS specifier in CLOSE statement"
    IO_NOT_CONNECTED+MSG_LANG_BASE "unit specified is not connected"
    IO_PAST_EOF+MSG_LANG_BASE "attempt to perform data transfer past end of file"
    IO_RACCM+MSG_LANG_BASE "invalid RECL specifier/ACCESS specifier combination"
    IO_REC1_ACCM+MSG_LANG_BASE "REC specifier required in direct access input/output statements"
    IO_REC2_ACCM+MSG_LANG_BASE "REC specifier not allowed in sequential access input/output statements"
    IO_SUBSEQUENT_OPEN+MSG_LANG_BASE "%s1 specifier may not change in a subsequent OPEN statement"
    IO_SFILE+MSG_LANG_BASE "invalid STATUS specifier for given file"
    IO_SNAME+MSG_LANG_BASE "invalid STATUS specifier/FILE specifier combination"
    IO_UNFMT_RECL+MSG_LANG_BASE "record size exceeded during unformatted input/output"
    IO_UNIT_EXIST+MSG_LANG_BASE "unit specified does not exist"
    IO_IREC+MSG_LANG_BASE "REC specifier is invalid"
    IO_IUNIT+MSG_LANG_BASE "UNIT specifier is invalid"
    IO_BUFF_LEN+MSG_LANG_BASE "formatted record or format edit descriptor is too large for record size"
    IO_BAD_SPEC+MSG_LANG_BASE "illegal '%s1=' specifier"
    IO_CC_FORM+MSG_LANG_BASE "invalid CARRIAGECONTROL specifier/FORM specifier combination"
    IO_BAD_ACTION+MSG_LANG_BASE "i/o operation not consistent with file attributes"
    IO_NML_NO_SUCH_NAME+MSG_LANG_BASE "symbol %s1 not found in NAMELIST"
    IO_NML_BAD_SYNTAX+MSG_LANG_BASE "syntax error during NAMELIST-directed input"
    IO_NML_BAD_SUBSCRIPT+MSG_LANG_BASE "subscripting error during NAMELIST-directed i/o"
    IO_NML_BAD_SUBSTRING+MSG_LANG_BASE "substring error during NAMELIST-directed i/o"
    IO_IBLOCKSIZE+MSG_LANG_BASE "BLOCKSIZE specifier is invalid"
    IO_NO_RECORDS+MSG_LANG_BASE "invalid operation for files with no record structure"
    IO_IOVERFLOW+MSG_LANG_BASE "integer overflow converting character data to integer"
    IO_FRANGE_EXCEEDED+MSG_LANG_BASE "range exceeded converting character data to floating-point"
    KO_FDIV_ZERO+MSG_LANG_BASE "floating-point divide by zero"
    KO_FOVERFLOW+MSG_LANG_BASE "floating-point overflow"
    KO_FUNDERFLOW+MSG_LANG_BASE "floating-point underflow"
    KO_IDIV_ZERO+MSG_LANG_BASE "integer divide by zero"
    KO_INTERRUPT+MSG_LANG_BASE "program interrupted from keyboard"
    KO_IOVERFLOW+MSG_LANG_BASE "integer overflow"
    KO_PAGES_OUT+MSG_LANG_BASE "maximum pages of output exceeded"
    KO_STMT_CNT+MSG_LANG_BASE "statement count has been exceeded"
    KO_TIME_OUT+MSG_LANG_BASE "time limit exceeded"
    LI_ARG_GT_ZERO+MSG_LANG_BASE "argument must be greater than zero"
    LI_ARG_LE_ONE+MSG_LANG_BASE "absolute value of argument to arcsine, arccosine must not exceed one"
    LI_ARG_NEG+MSG_LANG_BASE "argument must not be negative"
    LI_ARG_ZERO+MSG_LANG_BASE "argument(s) must not be zero"
    LI_CHAR_BOUND+MSG_LANG_BASE "argument of CHAR must be in the range zero to 255"
    LI_ICHAR_ONE+MSG_LANG_BASE "length of ICHAR argument greater than one"
    MO_DYNAMIC_OUT+MSG_LANG_BASE "out of memory"
    MO_STORAGE_NOT_ALLOCATED+MSG_LANG_BASE "attempt to deallocate an unallocated array or character*(*) variable"
    MO_STORAGE_ALLOCATED+MSG_LANG_BASE "attempt to allocate an already allocated array or character*(*) variable"
    PC_NO_OPENPAREN+MSG_LANG_BASE "missing or misplaced opening parenthesis"
    PC_UNMATCH_PAREN+MSG_LANG_BASE "unmatched parentheses"
    SR_ALREADY_ACTIVE+MSG_LANG_BASE "attempt to invoke active function/subroutine"
    SR_ARG_USED_NOT_PASSED+MSG_LANG_BASE "dummy argument %s1 is not in dummy argument list of entered subprogram"
    SR_BAD_TYPE+MSG_LANG_BASE "function referenced as %s1 but defined to be %s2"
    SR_CHAR_SIZE_MISMATCH+MSG_LANG_BASE "function referenced as CHARACTER*%u1 but defined to be CHARACTER*%u2"
    SR_SUB_AS_FUNC+MSG_LANG_BASE "subroutine referenced as a function"
    SR_BLKDAT_CALLED+MSG_LANG_BASE "attempt to invoke a block data subprogram"
    SR_STRUCT_MISMATCH+MSG_LANG_BASE "structure type of function %s1 does not match expected structure type"
    SS_SSCR_RANGE+MSG_LANG_BASE "subscript expression out of range; %s1 does not exist"
    SS_SSTR_RANGE+MSG_LANG_BASE "substring expression (%i1:%i2) is out of range"
    ST_FORMAT_LABEL+MSG_LANG_BASE "no FORMAT statement with given label"
    ST_NUMBER+MSG_LANG_BASE "statement number not in list or not the label of an executable statement"
    ST_BRANCH_INTO+MSG_LANG_BASE "attempt to branch into a control structure"
    SV_BAD_SSCR+MSG_LANG_BASE "invalid subscript expression"
    SV_DIMENSION_LIMIT+MSG_LANG_BASE "limit of 65535 elements per dimension has been exceeded"
    UV_CH_ASGN_UNDEFINED+MSG_LANG_BASE "substring (%u1:%u2) of expression on right side of equal sign is undefined"
    UV_CH_FN_UNDEFINED+MSG_LANG_BASE "substring (%u1:%u2) of return value of character function %s3 is undefined"
    UV_CH_REL_UNDEFINED+MSG_LANG_BASE "substring (%u1:%u2) of an operand in a relational expression is undefined"
    UV_IF_CHAR_ARG_UNDEFINED+MSG_LANG_BASE "substring (%u1:%u2) of an argument to an intrinsic function is undefined"
    UV_UNDEFD+MSG_LANG_BASE "the value of %s1 is undefined"
    UV_ARG_UNDEFINED+MSG_LANG_BASE "argument number %d1 passed to intrinsic function is undefined"
    MS_EXT_PROC+MSG_LANG_BASE "external subprogram"
    MS_TRACE_INFO+MSG_LANG_BASE "- Executing line %u1 in file %s2"
    MS_CALLED_FROM+MSG_LANG_BASE "- Called from line %u1 in file %s2"
    MS_ERR_WRT_LST+MSG_LANG_BASE "error writing to listing file - %s1"
    MS_EXEC_IN+MSG_LANG_BASE "- Executing in"
    MS_CALLED_FROM_LG+MSG_LANG_BASE "- Called from"
    MS_TB_LIBRARY+MSG_LANG_BASE "%s1, statement %u2 in library member %s3"
    MS_TB_FILE+MSG_LANG_BASE "%s1, statement %u2 in file %s3"
    MS_INTERRUPT_PROMPT+MSG_LANG_BASE "Do you really want to stop (y/n)?"
    MS_NO_8087+MSG_LANG_BASE "*ERR* math coprocessor is not present\r\n"
    MS_DB_BAD_ISN+MSG_LANG_BASE "invalid ISN"
    MS_DB_ENTERED+MSG_LANG_BASE "Debugger entered at %s1"
    MS_DB_BREAK+MSG_LANG_BASE "Breakpoint set at %d1"
    MS_DB_RET_FROM+MSG_LANG_BASE "Returned from %s1"
    MS_DB_TRACE_INSTR+MSG_LANG_BASE "Into[I key] Over[space bar] Next[N key] Exit[Enter key]"
    MS_DB_VAR_NOT_FOUND+MSG_LANG_BASE "variable not found"
    MS_DB_ARR_NOT_DIMMED+MSG_LANG_BASE "array dimensions not yet established"
    MS_DB_SYNTAX_ERR+MSG_LANG_BASE "not understood"
    MS_DB_SSTR_BAD+MSG_LANG_BASE "invalid substring list"
    MS_DB_SSCR_BAD+MSG_LANG_BASE "invalid subscript list"
    MS_DB_BAD_UNIT+MSG_LANG_BASE "unit not found"
    MS_DB_NO_LISTING_FILE+MSG_LANG_BASE "unable to open listing file"
    MS_DB_HELP_1+MSG_LANG_BASE "Breakpoint[/c] [<isn>].....show/set/clear breakpoint"
    MS_DB_HELP_2+MSG_LANG_BASE "Display [*|<isn>[:<isn>]]..display source"
    MS_DB_HELP_3+MSG_LANG_BASE "Go [<isn>].................go [until <isn> reached]"
    MS_DB_HELP_4+MSG_LANG_BASE "Help.......................display this help screen"
    MS_DB_HELP_5+MSG_LANG_BASE "Logio [<unit>].............list logged units or toggle logging of unit"
    MS_DB_HELP_6+MSG_LANG_BASE "Quit.......................quit debugger"
    MS_DB_HELP_7+MSG_LANG_BASE "Trace......................enter trace mode"
    MS_DB_HELP_8+MSG_LANG_BASE "Unit [<unit>]..............list information for connected unit(s)"
    MS_DB_HELP_9+MSG_LANG_BASE "Where......................display current traceback information"
    MS_DB_HELP_10+MSG_LANG_BASE "! [<cmd>]..................system services"
    MS_DB_HELP_11+MSG_LANG_BASE "/ <x> <y>..................assign <y> to <x>"
    MS_DB_HELP_12+MSG_LANG_BASE "? [(z|a)] [<x>[,<x>]...]...print variables using specified format"

end
